<ng-container [formGroup]="form">
    <div class="card" style="width: 100%;">
        <div class="card-body">
        <h5 class="card-title">Basic info</h5>
        <h6 class="card-subtitle mb-2 text-muted">Form</h6>

        <label for="street">Street</label><br>
        <input type="text"  formControlName="street"><br>

        <label for="number">Number</label><br>
        <input type="number"  formControlName="number"><br>

        <label for="postal">Postal</label><br>
        <input type="number"  formControlName="postal"><br>

        <label for="company">Company</label><br>
        <input type="text"  formControlName="company"><br>
        </div>
    </div>
</ng-container>